@charset "utf-8";
/* CSS Document */

#banners
  { position: absolute;
    top: 10px; /* top coordinate */
    right: 10px; /* puts banners in the top right corner */
  }
	#banners h4
  { display: none;
  }

#banners img
  { border: none;
  }

#banners ul, #banners li, #banners a, #banners img
  { margin: 0;
    padding: 0;
  }
	
	#banners ul
  { display: block;
    height: 80px;
    overflow: hidden;
  }

#banners li
  { display: block;
    list-item-style: none;
  }